@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
:root {
  --primary-color: #ff9900;
  --secondary-color: #2fa1c4;
  --light-color: #ffffff;
  --light-color-2: #f5f5f5;
  --dark-color: #333333;
  --dark-light-color: #9c9c9c; }

/* media queries manager  */
/*
    1rem / 1em = 16px
    600px = 37.5em
    900px = 56.25em
    1200px = 75em
    1800px = 112.5em

phone           - 600px
tablet portait  - 900px
tablet landscape - 1200px
desktop          - 1400px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif; }

html {
  font-size: 1rem; }

body {
  background-color: var(--primary-color); }

/*  overview button section  */
@keyframes pulset {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1); } }

.header {
  width: 100%;
  height: 3rem;
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* header section always on the Top*/
  position: relative;
  z-index: 1; }

/* logo section */
.logo {
  height: 4rem;
  margin-left: 3rem; }

/* search icon */
.search {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Use adjacent sibling.......... */ }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--light-color);
    width: 90%;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 5rem;
    transition: all 0.2s;
    margin-right: -2.5rem;
    /*inpur placeholder property */ }
    .search__input:focus {
      width: 100%;
      background-color: var(--light-color-2);
      border: none;
      border-radius: 5rem;
      outline: none; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100; }
  .search__button {
    background-color: var(--light-color);
    border: none; }
    .search__button:focus, .search__button:active {
      border: none;
      outline: none;
      background-color: var(--light-color-2); }
  .search__icon {
    height: 1rem;
    width: 1rem;
    /* changed the svg color easily */
    fill: var(--dark-color); }
  .search__input:focus + .search__button {
    background-color: var(--light-color-2); }

/* user navigation */
.user__nav {
  display: flex;
  /* child of the main header........ */
  align-self: stretch;
  align-items: center; }
  .user__nav__box {
    padding: 0 1.5rem;
    cursor: pointer;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; }
    .user__nav__box:hover {
      background-color: var(--light-color-2); }
  .user__nav__icon {
    width: 2rem;
    height: 1.5rem;
    fill: var(--dark-color); }
  .user__nav__notification {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0.7rem; }
  .user__nav__user {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: -0.5rem; }
  .user__nav__username {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.1rem;
    color: var(--primary-color); }

.content {
  display: flex;
  min-height: 100%; }

.sidebar {
  flex: 0 1 20%;
  background-color: var(--dark-color);
  min-height: 100%;
  margin-top: -3rem; }

.hotel__view {
  flex: 1;
  height: 100%; }

.detail {
  display: flex;
  padding: 3rem; }

.description {
  background-color: var(--light-color);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.06);
  flex: 0 1 70%;
  margin-right: 3rem; }

.user-review {
  background-color: darkred;
  flex: 1; }

.content .sidebar {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .content .sidebar .side-nav {
    font-size: 1.2rem;
    list-style: none;
    margin-top: 3rem;
    padding: 0rem; }
    .content .sidebar .side-nav__item {
      position: relative; }
      .content .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: 0.5rem; }
    .content .sidebar .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.3rem;
      background-color: var(--primary-color);
      transform: scaleY(0);
      /* use multiple property on transition
                    the first one, then second one, then cubic-bezier last is transition delay
                */
      transition: transform 0.2s, width 0.4s cubic-bezier(0.83, 0, 0.17, 1) 0.2s; }
    .content .sidebar .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .content .sidebar .side-nav__link:link, .content .sidebar .side-nav__link:visited {
      color: var(--light-color);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem;
      /* link always on the top. 
                    before and after the &__item hover */
      position: relative;
      z-index: 10; }
    .content .sidebar .side-nav__link {
      display: flex;
      align-items: center; }
    .content .sidebar .side-nav__icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1.5rem;
      /* color of the parent element */
      fill: currentColor; }
    .content .sidebar .side-nav span {
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center; }
  .content .sidebar .legal {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--light-color);
    padding: 1rem;
    text-align: center; }

.gallery {
  display: flex; }
  .gallery__image {
    display: block;
    width: 100%;
    height: 100%; }

.overview {
  display: flex;
  justify-content: space-between;
  /* center item vertically  */
  align-items: center; }
  .overview__heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem; }
  .overview__star {
    /* flex + margin = becomes more powerful  */
    margin-right: auto;
    /* to remove extra white space between the star icon each of them*/
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--primary-color); }
  .overview__location {
    /* it consume the available space. revome the troubling in hover effect */
    margin-left: auto;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview .btn-inline {
    border: none;
    color: var(--primary-color);
    border-bottom: 1px solid currentColor;
    padding: 0.2rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s; }
    .overview .btn-inline:hover {
      color: var(--dark-color); }
    .overview .btn-inline:focus {
      outline: none;
      animation: pulset 0.2s infinite; }
  .overview__rating {
    background-color: var(--primary-color);
    color: var(--light-color);
    margin-left: 1rem;
    align-self: stretch;
    padding: 0.2rem; }
    .overview__rating-average {
      font-size: 1.8rem;
      font-weight: 500; }
    .overview__rating-count {
      font-size: 0.8rem;
      font-weight: 400; }

.detail .description {
  padding: 0.5rem;
  font-size: 1rem; }
  .detail .description .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  .detail .description .list {
    list-style: none;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap; }
    .detail .description .list__item {
      flex: 0 1 50%;
      margin-bottom: 0.5rem; }
      .detail .description .list__item::before {
        content: "";
        display: inline-block;
        /* for older browser  */
        background-image: url(../../image/SVG/chevron-right.svg);
        background-size: cover;
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        /* for newer browser we use mask... 
                        Basically mask define an area,
                        where we can look through the element.
                        To see whats behind the element.
                    */
        background-color: var(--light-color); }
  .detail .description .recommend {
    display: flex;
    align-items: center; }
    .detail .description .recommend__count {
      font-size: 0.8rem;
      font-weight: 700;
      margin-right: auto; }
    .detail .description .recommend__image {
      box-sizing: content-box;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: 3px solid var(--light-color); }
      .detail .description .recommend__image:not(:last-child) {
        margin-right: -1rem; }

.user-review {
  background-color: var(--light-color);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.05);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .user-review .review {
    font-size: 0.9rem;
    font-weight: 400; }
    .user-review .review__text {
      text-align: left; }
    .user-review .review__details {
      display: flex;
      line-height: 0rem;
      align-items: center; }
    .user-review .review__image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%; }
    .user-review .review__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem; }
    .user-review .review__name {
      font-size: 0.8rem;
      font-weight: 300; }
    .user-review .review__date {
      font-size: 0.7rem;
      font-weight: 300; }
    .user-review .review__rating {
      font-size: 1rem;
      color: var(--primary-color);
      margin-left: 2rem; }
  .user-review .review__button {
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color); }
    .user-review .review__button:hover, .user-review .review__button:focus {
      animation: pulset 0.2s infinite; }

.container {
  max-width: 80vw;
  min-height: auto;
  margin: 4rem auto;
  background-color: var(--light-color);
  padding: 0; }
