.user-review{
    background-color: var(--light-color);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.05);
    padding: 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .review{
        font-size: 0.9rem;
        font-weight: 400;

        &__text{
            text-align: left;
        }

        &__details{
            display: flex;
            line-height: 0rem;
            align-items: center;
        }

        &__image{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        &__box{
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 2rem;
        }

        &__name{
            font-size: 0.8rem;
            font-weight: 300;
        }

        &__date{
            font-size: 0.7rem;
            font-weight: 300;
        }

        &__rating{
            font-size: 1rem;
            color: var(--primary-color);
            margin-left: 2rem;
        }
    }

    .review__button{
        border: none;
        background-color: var(--primary-color);
        color: var(--light-color);

        &:hover,
        &:focus{
            animation: pulset 0.2s infinite;
        }
    }
}