html, body{
    font-family: 'Open Sans', sans-serif;

    @include responsive(tablet__landscape){
        background-color: var(--light-color);
    } 
}

html{
    font-size: 1rem;

    @include responsive(custom800){
        font-size: 0.8rem;
    }
}

body{
    background-color: var(--primary-color);
}