.content{
    display: flex;
    height: 100%; // depends on parent element
}

.sidebar{
    flex: 0 1 20%; // grow, shrink, basis
    background-color: var(--dark-color);
    height: 100%;

    margin-top: -3rem;
}

.hotel__view{
    flex: 1; // only grow
    height: 100%;
}

/////////////////////////////////////////////////////

.detail{
    display: flex;
    padding: 3rem;
}

.description{
    background-color: var(--light-color);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.06);
    flex: 0 1 70%;
    margin-right: 3rem;
}

.user-review{
    background-color: darkred;
    flex: 1;
}