.content{
    display: flex;
    min-height: 100%; // depends on parent element

    @include responsive(custom800){
        flex-direction: column;
    }
}

.sidebar{
    flex: 0 1 20%; // grow, shrink, basis
    background-color: var(--dark-color);
    min-height: 100%;

    @include responsive(tablet__portait){
        flex: 0 1 30%;
    }

    @include responsive(phone){
        flex: 0 1 40%;
    }

    @include responsive(custom800){
        flex: 0 1 100%;
    }
}

.hotel__view{
    flex: 1; // only grow
    height: 100%;

    @include responsive(tablet__portait){
        flex: 1;
    }

    @include responsive(phone){
        flex: 1;
    }
}

/////////////////////////////////////////////////////

.detail{
    display: flex;
    padding: 3rem;

    @include responsive(tablet__portait){
        flex-direction: column;
        padding: 1rem;
    }
}

.description{
    background-color: var(--light-color);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.06);
    flex: 0 1 70%;
    margin-right: 3rem;

    @include responsive(tablet__portait){
        flex: 0 1 100%;
        margin-right: 0rem;
    }
}

.user-review{
    background-color: darkred;
    flex: 1;

    @include responsive(tablet__portait){
        background-color: var(--light-color);
        flex: 0 1 100%;
    }
}